<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!-- plugin information -->	
<plugin>
	<extension
         id="commitPlugin"
         point="org.eclipse.ui.startup">
    	<startup
          class="org.eclipse.commitplugin.actions.MyListener">
   		</startup>
   </extension>
</plugin>
